.country {
    padding: 1rem;
    min-width: 376px;
    padding: 3rem 5rem;
}

img {
    width: 100%;
}

h3 {
    padding-top: 2rem;
    min-width: 376px;
    font-size: 1.5rem;
}

.country button {
    box-shadow:0 0 5px rgba(0,0,0,0.3);
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    border:0;
    background:transparent;
}

.country p {
    padding: 0.5rem 0;
}

.country-layout {
    display: flex;
    justify-content: space-between;
}

.country-layout img {
    width: 40%;
}

.country-detail {
    min-width: 376px;
    width: 50%;
}

.country-info {
    display: flex;
    min-width: 376px;
    justify-content: space-between;
}

.country-section {
    padding: 1rem 0;
}

.border-countries {
    margin-bottom: 4rem;
}

.border-countries-buttons {
    display: grid;
    column-gap: 0.5rem;
    row-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2rem;
}

.borders-countries button {
    text-align: center;
    line-height: 2rem;
}
.button{
    border: none;
    font-size: 1rem;
}
:host-context(.dark) .button {
    background-color:  hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
  }
  
  :host-context(.light) .button {
    background-color: hsl(0, 0%, 100%);
    color: hsl(200, 15%, 8%);
  }